/* admin 페이지 관련 css */

/* upsertAdminModal 관련 css */
.admin-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-form .MuiFormLabel-root {
  margin-left: 3% !important;
  width: 25% !important;
  font-size: 13px !important;
  text-align: left !important;
  
}

.admin-form .MuiTextField-root {
  width: 70% !important;
} 
