/* 로그인 페이지 관련 css */

/* admin 페이지 관련 css */
.ag-column-first {
  border-right: 1px solid #ddd !important;
}

.ag-header-cell {
  justify-content: center !important;
  align-items: center !important;
}

.ag-header-cell-label {
  justify-content: center !important;
}

.ag-theme-alpine .ag-header-row .ag-header-cell:last-child .ag-header-cell-label {
  border-right: none !important;
}

.ag-theme-alpine .ag-cell-value {
  border-right: 1px solid #ddd !important;
}

.ag-cell {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ag-theme-alpine .ag-row .ag-cell:last-child {
  border-right: none !important;
}

.ag-header-select-all, .ag-selection-checkbox {
  margin: 0 !important;
}
